In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('vehicles_us.csv')
print(df.shape)
print(df.head(10))
print(df.tail(10))

print('hi')

(51525, 13)
   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0
5  14990      2014.0    chrysler 300  excellent        6.0  gas   57954.0
6  12990      2015.0    toyota camry  excellent        4.0  gas   79212.0
7  15990      2013.0     honda pilot  excellent        6.0  gas  109473.0
8  11500      2012.0     kia sorento  excellent        4.0  gas  104174.0
9   9200      2008.0     honda pilot  excellent        NaN  gas  147191.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28
5    automatic   sedan       black     1.0  2018-06-20           15
6    automatic   sedan       white     NaN  2018-12-27           73
7    automatic     SUV       black     1.0  2019-01-07           68
8    automatic     SUV         NaN     1.0  2018-07-16           19
9    automatic     SUV        blue     1.0  2019-02-15           17
       price  model_year                       model  condition  cylinders  \
51515  12000      2005.0  chevrolet silverado 2500hd       good        8.0
51516   8999      2011.0         jeep grand cherokee       good        6.0
51517  11000      2012.0               dodge charger  excellent        8.0
51518   3750      2005.0                 ford taurus  excellent        6.0
51519  11750      2015.0                honda accord  excellent        4.0
51520   9249      2013.0               nissan maxima   like new        6.0
51521   2700      2002.0                 honda civic    salvage        4.0
51522   3950      2009.0              hyundai sonata  excellent        4.0
51523   7455      2013.0              toyota corolla       good        4.0
51524   6300      2014.0               nissan altima       good        4.0

         fuel  odometer transmission    type paint_color  is_4wd date_posted  \
51515  diesel  228000.0    automatic  pickup      silver     1.0  2018-08-18
51516     gas       NaN    automatic     SUV       white     1.0  2018-11-01
51517     gas   81000.0    automatic   sedan       black     NaN  2019-04-19
51518     gas  110200.0    automatic   sedan      silver     NaN  2018-08-10
51519     gas       NaN    automatic   coupe         NaN     NaN  2018-11-24
51520     gas   88136.0    automatic   sedan       black     NaN  2018-10-03
51521     gas  181500.0    automatic   sedan       white     NaN  2018-11-14
51522     gas  128000.0    automatic   sedan        blue     NaN  2018-11-15
51523     gas  139573.0    automatic   sedan       black     NaN  2018-07-02
51524     gas       NaN    automatic   sedan         NaN     NaN  2018-06-05

       days_listed
51515           52
51516           51
51517           44
51518           63
51519           89
51520           37
51521           22
51522           32
51523           71
51524           10
hi